.app-container {
  position: relative;
  z-index: 0; /* 基本レイヤー */
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center; /* 横方向中央 */
  align-items: center; /* 縦方向中央 */
}

.main-content {
  z-index: 10; /* 桜より前面に表示 */
}

/* 文言 */
.p-text2 {
  margin: 5px;
  color: black;
  text-align: center;
}

/* ボタン */
.button-style {
  text-align: center;
}

.rounded-button {
  border-radius: 20px;
  margin: 0 10px;
  padding: 10px 15px;
  border: none;
  color: white;
  font-family: "HG行書体", "HGP行書体", "Yu Mincho", serif;
  font-size: 30px;
}
