#root {
  max-width: 1280px;
  margin: 0px;
  text-align: center;
  background-color: black;
} 

.image-container {
  display: flex;
  flex-direction: column; /* 縦に並べる */
  gap: 10px; /* 画像間の隙間 */
  align-items: center; /* 画像を中央揃え */
}

.image-wrapper {
  position: relative;
  width: 995px;
  height: 106px;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
} 

.image-wrapper img.hover-image {
  opacity: 0;
}

.image-wrapper:hover img.hover-image {
  opacity: 0.5;
}

.image-wrapper:hover img.default-image {
  opacity: 1;
}

.hover-image {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-overlay {
  width: 100%;
  height: 106px;
  position: absolute;
  top: 50%; /* 画像の中央 */
  left: 20%;
  transform: translate(-50%, -50%); /* 完全に中央揃え */
  font-size: 5vw; /* フォントサイズ */
  font-weight: bold;
  text-align: center;
  white-space: nowrap; /* 改行を防止 */
  opacity: 0;
}

.text-overlay:hover {
  color: black; /* 文字の色 */
  text-shadow: 
    2px 2px 4px rgba(255, 255, 255, 0.7), /* 影をつける（右下） */
    -2px -2px 4px rgba(255, 255, 255, 0.7), /* 影をつける（左上） */
    2px -2px 4px rgba(255, 255, 255, 0.7), /* 影をつける（右上） */
    -2px 2px 4px rgba(255, 255, 255, 0.7); /* 影をつける（左下） */
  opacity: 0.5;
}